@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-work-sans: 'Work Sans', sans-serif;
  }
  
  body {
    font-family: var(--font-work-sans);
    font-size: 18px;
    color: #121212;
  }
 html {
    overflow-x: hidden;
  }

/************************************ ANIMACIONES DE BOTONES *******************************************************/
/*******************************************************************************************************************/
.btn-animation.btn-red-to-blue, .btn-animation.btn-white-to-red, .btn-animation.btn-white-to-blue, .btn-animation.btn-blue-to-red, 
.btn-animation.btn-red-to-white, .btn-animation.btn-blue-to-white, .btn-animation.btn-black-to-red {
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
  background-position: right;
}

.btn-animation.btn-red-to-blue:hover, .btn-animation.btn-blue-to-red:hover, .btn-animation.btn-white-to-red:hover, 
.btn-animation.btn-white-to-blue:hover, .btn-animation.btn-red-to-white:hover, .btn-animation.btn-blue-to-white:hover, .btn-animation.btn-black-to-red:hover  {
  background-position: left;
}
.btn-animation.btn-white-to-blue:hover, .btn-animation.btn-red-to-white:hover p, .btn-animation.btn-white-to-blue:hover p {
  color: white !important;
}

.btn-animation.btn-blue-to-white:hover p {
  color: #3149BC;
}

.btn-animation.btn-white-to-red:hover p {
  color: #F23434;
}

.btn-red-to-blue {
  background: linear-gradient(to right, #3149BC 50%, #F23434 50%);
  background-size: 200% 100%;
}

.btn-blue-to-white {
  background: linear-gradient(to right, #fff 50%, #3149BC 50%);
  background-size: 200% 100%;
}

.btn-white-to-red {
  background: linear-gradient(to right, #fff 50%, #F23434 50%);
  background-size: 200% 100%;
}
.btn-white-to-blue {
  background: linear-gradient(to right, #3149BC  50%, #fff 50%);
  background-size: 200% 100%;
}

.btn-blue-to-red {
  background: linear-gradient(to right, #F23434 50%, #3149BC 50%);
  background-size: 200% 100%;
}

.btn-red-to-white {
  background: linear-gradient(to right, #F23434 50%, #fff 50%);
  background-size: 200% 100%;
}

.btn-black-to-red {
  background: linear-gradient(to right, #F23434 50%, #121212 50%);
  background-size: 200% 100%;
}



/******************************** Clases Home ********************************************************/
/*****************************************************************************************************/

.h1-print-HM {
  background-image: url("./../../public/images/printing-back-hm.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-path {
  clip-path: path( 'M 267 0 L 0 237 L 16 332 L 195 332 L 178 400 L 1200 400 L 1200 0 Z');
}

.back-blue {
    background-image: url('./../../public/images/brands-1200.webp');
    background-position: center;
    background-size: cover;
}

.checklist-li-hp::before {
  content: ""; /* Necesario para mostrar el icono */
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/check_square.svg') no-repeat center center;
  background-size: contain;
}


/**************************** Classes Review Carousel*************************************************/
/*****************************************************************************************************/


.divpath {
  width: 384px;
  background-color: #EFEEEE; /* O el color de fondo que prefieras */
  clip-path: path(" M 0 10 C0 4.47715 4.47715 0 10 0 L 374 0 C 379.523 0 384 4.47715 384 10 L 384 264 Q 384 274, 374 274 L 231 274 Q 221 274, 221 264 L 221 225 Q 221 215, 211 215 L 10 215 Q 0 215, 0 205 Z");
  -webkit-clip-path: path(" M 0 10 C0 4.47715 4.47715 0 10 0 L 374 0 C 379.523 0 384 4.47715 384 10 L 384 264 Q 384 274, 374 274 L 231 274 Q 221 274, 221 264 L 221 225 Q 221 215, 211 215 L 10 215 Q 0 215, 0 205 Z")
}

/**************************** Classes About Home *************************************************/
/*****************************************************************************************************/

.about-home-page {
  background-image: url('/images/about-4print.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-rombo {
  transform: skew(-7deg, 0deg);
  box-shadow: 10px 10px 11px rgba(0, 0, 0, 0.15);
  border: solid 1px #A8A7A7;
}

.no-skew {
  transform: skew(7deg, 0deg);
}

/**************************** Classes Mission Home *************************************************/
/*****************************************************************************************************/

.bg-mission-hp {
  background-image: url('/images/mission-home-bg.webp');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: path('M 0 0 L 1200 0 L 1200 491 L 0 644 Z');
}

/**************************** Classes Contact Form Footer *************************************************/
/*****************************************************************************************************/

.bg-contact-form {
  background-image: url('/images/contact-form-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-form input::placeholder, .custom-form textarea::placeholder {
  font-size: 18px;
  color: #121212;
  opacity: 1;
}

.bg-contact-form-black {
  background-image: url('/images/contact-form-black-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contact-form-red {
  background-image: url('/images/contact-form-red-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************** Classes Certificaciones About Page *************************************/
/*****************************************************************************************************/

.bg-cert-ap {
  background: url('/images/certifications-about.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************** Classes Hero Banner About Page *************************************/
/*****************************************************************************************************/

.bg-banner-ap {
  background: url('/images/about-banner.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************** Classes Hero Banner Services Page *************************************/
/*****************************************************************************************************/

.shape-banner-services {
  clip-path: path('M0 46 L 204 46 L 204 0 L 453 0 L 453 231 L 282 231 L 282 334 L 0 334 Z');
}

.hero-banner-services {
  background: url('/images/bg-banner-services.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************** Classes Commercial Wrap Services Page **********************************/
/*****************************************************************************************************/

.rectangle-cuted {
  background-image: url('/images/rectangle-cuted.svg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}

/**************************** Classes Custom Car Wrap Services Page **********************************/
/*****************************************************************************************************/

.bg-custom-car-wrap-sv {
  background-image: url('/images/custom-car-wrap-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.bg-custom-car-wrap-red {
  background-image: url('/images/rectangle-cuted-2.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

/**************************** Classes Commercial Printing Services Page *******************************/
/*****************************************************************************************************/

.wall-wrap, .window-vinils, .banners, .cut-vinyl, .car-magnets, .yard-signs, .stickers, .commercial-wall-wrap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.commercial-wall-wrap {
  background-image: url('/images/commercial-wall-wrap.webp');
}

.wall-wrap {
  background-image: url('/images/wall-wrap.webp');
}

.window-vinils {
  background-image: url('/images/window-vinils.webp');
}

.banners {
  background-image: url('/images/banners.webp');
}

.cut-vinyl {
  background-image: url('/images/cut-vinyl.webp');
}

.car-magnets {
  background-image: url('/images/car-magnets.webp');
}

.yard-signs {
  background-image: url('/images/yard-signs.webp');
}

.stickers {
  background-image: url('/images/stickers.webp');
}


.bg-apparel {
  background-image: url('/images/apparel-bg.svg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}


.bg-why-choose-blue {
  background-image: url('/images/rectangle-cuted-blue.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.back-red-wrapping-page {
  background-image: url('./../../public/images/cta-wrappin-page-red.webp');
  background-position: center;
  background-size: cover;
}

.rectangle-cuted-black {
  background-image: url('/images/rectangle-cuted-black.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-commercial-full {
  background-image: url('/images/commercial-vehicle-wrap-fleet.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-commercial-partial {
  background-image: url('/images/commercial-vehicle-partial-wrap.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-specialty-wrap {
  background-image: url('/images/specialty-wrap-fleet.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.red-frame {
  background-image: url('/images/red-frame.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-cuted-blue {
  background-image: url('/images/rectangle-cuted-blue-left.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

.card::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: #ff3b3b; /* Color rojo */
  border-radius: 1rem; /* Para que coincida con el borde de la tarjeta */
  z-index: 0; /* Colocar debajo de la tarjeta */
}

.stroke4p {
  -webkit-text-stroke-width: 4px;
-webkit-text-stroke-color: #FFF;
writing-mode: vertical-lr;
font-family: 'Verdana';
paint-order: stroke fill;
}


.faq {
  max-height: 0px;
  overflow: hidden;
  transition: all ease 0.3s;

}
.expanded {
  max-height: 300px;
}

.rotate-x-90 {
  transform: rotateX(90deg);
}

.rectangle-cuted-red-ur {
  background-image: url('/images/rectangle-cuted-red-ur.svg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-cuted-red-tl {
  background-image: url('/images/rectangle-cuted-red-tl.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-cuted-blue-tl {
  background-image: url('/images/rectangled-cuted-blue-tl.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-formated-black {
  background-image: url('/images/polo-shirts-bg.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-cuted-blue-slide {
  background-image: url('/images/rectangle-cuted-blue-slide.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.rectangle-cuted-red-tl-small {
  background-image: url('/images/rectangle-cuted-red-tl-small.svg');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gallery {
  background-image: url('/images/banner-gallery.webp');
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-title {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #FFF;
  font-family: 'Verdana';
  paint-order: stroke fill;
}

.hero-banner-car-wrap-fleet {
  background: url('/images/bg-banner-services-fleet.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(1);
}

.hero-banner-car-wrap-fleet-baltimore {
  background: url('/images/bg-banner-fleet-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-carwrap-food-truck {
  background: url('/images/bg-banner-foodtruck-wrap-maryland.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-carwrap-food-truck-glen-burnie {
  background: url('/images/bg-banner-food-truck.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner-trailer-wrap {
  background: url('/images/bg-banner-services-trailer-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner-van-wrap {
  background: url('/images/bg-banner-services-van-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner-truck-wrap {
  background: url('/images/bg-banner-commercial-truck-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-banner-lettering-decals-wrap {
  background: url('/images/bg-banner-lettering-decals-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul.list-menu {
  list-style: none;
  padding-left: 0;
}

ul.list-menu li {
  position: relative;
  padding-left: 30px;
}

ul.list-menu li::before {
  content: "";
  background-image: url('/images/arrow-last_page.svg');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.wall-wrap {
  background: url('/images/bg-banner-wall-wrap.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.res-wall {
  background: url('/images/blue-rect-8.svg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.rectangle-formated-black-wall {
  background-image: url('/images/wall-wrap-service-bg.svg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/**************************** New Classes Home 2025 ************************************/

.FleetWraps {
  background: url('/images/fleet-wraps-and-graphic-home.webp');
}

.FoodTruck {
  background: url('/images/food-truck-wraps-and-graphics-home.webp');
}

.VanWrap {
  background: url('/images/van-wraps-and-graphics-home.webp');
}

.TrailerWraps {
  background: url('/images/trailer-wraps-and-graphics-home.webp');
}

.TruckWraps {
  background: url('/images/truck-wraps-and-graphics-home.webp');
}

.VehicleLettering {
  background: url('/images/vehicle-lettering-and-decals-home.webp');
}

.PartialVehicle {
  background: url('/images/partial-vehicle-wraps-for-commercial-vehicles-home.webp');
}

.PerforatedWindow {
  background: url('/images/perforated-window-graphics-for-vehicles-home.webp');
}

.CarWrapRemoval {
  background: url('/images/car-wrap-removal-and-replacement-home.webp');
}

.WallMurals {
  background: url('/images/wall-murals-home.webp');
}

.WallDecals {
  background: url('/images/wall-decals-home.webp');
}

.WallpaperInstallation {
  background: url('/images/wallpaper-installation-home.webp');
}

.WindowVinyls {
  background: url('/images/window-vinylsand-decals-for-storefronts-home.webp');
}

.WallWrapRemoval {
  background: url('/images/wall-wrap-removal-home.webp');
}

.AluminumSigns {
  background: url('/images/aluminum-signs-home.webp');
}

.WallDesignConsultation {
  background: url('/images/custom-wall-design-consultation-home.webp');
}

.WallWrapReplacement {
  background: url('/images/wall-wrap-replacement-or-repair-home.webp');
}

.FullColorChangeCarWraps {
  background: url('/images/full-color-change-car-wraps-home.webp');
}

.PartialCarWraps {
  background: url('/images/partial-car-wraps-and-accents-home.webp');
}

.CarWrapGraphics {
  background: url('/images/custom-car-wrap-graphics-and-designs-home.webp');
}

.Banners {
  background: url('/images/banners-home.webp');
}

.DoorHangers {
  background: url('/images/door-hangers-home.webp');
}

.Apparel {
  background: url('/images/apparel-home.webp');
}

.BusinessCards {
  background: url('/images/business-cards-home.webp');
}

.Flyers {
  background: url('/images/flyers-home.webp');
}

.Stickers {
  background: url('/images/stickers-home.webp');
}

.CarMagnets {
  background: url('/images/car-magnets-home.webp');
}

.YardSigns {
  background: url('/images/yard-signs-home.webp');
}

.SeeAllPrinting {
  background: url('/images/see-all-printing-services-home.webp');
}

.FleetWraps, .FoodTruck, .VanWrap, .TrailerWraps, .TruckWraps, .VehicleLettering, 
  .PartialVehicle, .PerforatedWindow, .CarWrapRemoval, .WallMurals, .WallDecals, .WallpaperInstallation, .WindowVinyls, .WallWrapRemoval,
  .AluminumSigns, .WallDesignConsultation, .WallWrapReplacement, .FullColorChangeCarWraps, .PartialCarWraps, .CarWrapGraphics,
  .Banners, .DoorHangers, .Apparel, .BusinessCards, .Flyers, .Stickers, .CarMagnets, .YardSigns, .SeeAllPrinting  {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promise-path {
  clip-path: path( 'M 0 0 L 1080 0 L 910 675 L 0 675 Z');
}


.blog-post h2 {
 font-size: 28px;
 padding-top: 15px;
}

.blog-post h3 {
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 20px;
}

.blog-post p {
  padding-bottom: 20px;
}

.blog-post ul {
  list-style-type: disc;
}
.blog-post li {
  padding-bottom: 20px;
  margin-left: 20px;
}
.blog-post table, th, tr, td {
  border: 1px solid
}

.blog-post figure {margin-bottom: 25px;}

.blog-post td {
  padding-left: 8px;
}

@media (max-width:767px) {

  .custom-path {
    clip-path: none;
  }

  .bg-mission-hp {
    background-image: url('/images/Frame-59.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: path('M 0 0 L 420 0 L 420 1000 L 0 1150 Z');
  }
  .red-frame {
    background-image: url('/images/red-frame-resp.svg');
  }

  .stroke4p {
  writing-mode:horizontal-tb;
  -webkit-text-stroke-width: 3px;
  }

  .rectangle-formated-black {
    background-image: url('/images/polo-shirts-bg.svg');
    background-color: #121212;
  }

  .rectangle-cuted-blue-slide {
    background-image: url('/images/rectangle-cuted-blue-slide.svg');
    background-color: #3149BC;
  }

  .rectangle-cuted-red-tl {
  background-image: url('/images/rectangle-cuted-red-tl.svg');
  background-position: top right;
  }

  .res-wall {
  background: url('/images/blue-rect-8.svg');
  background-color: #3149BC;
  }

  .promise-path {
  clip-path: none;
  }
}
